<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content help-page">
        <%- include('../partials/header.ejs') %>
        <h2><%= helpText %></h2>

        <div class="text-content">
           
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores harum suscipit minima ab pariatur sed perferendis consequuntur illum quasi assumenda.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur?</p>   
        </div>  
                 
    </div>
        

    <div >
     <%- include('../partials/footer.ejs') %>
    </div>
     
    
   
 <script src="/js/app.js"></script>
</body>
</html>